<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>

        h1 { 
            color: lightblue;
        }
    </style>
</head>
<body>   
    <div class="row">
        <div class="element-center report-element-center" col-12="" col-lg-8="" col-md-10="" col-sm-10="" col-xl-6="" col-xxl-4="">
            &nbsp;&nbsp;&nbsp;&nbsp;<img src="https://www.achtkarspelen.nl/templates/images/achtkarspelen/logo.png" alt="Gemeente Achtkarspelen">
            </div>
        </div>
    </div> 
    <h1>Ontvangen melding</h1>
    <h2>Bedankt voor de melding, binnen enkele werkdagen wordt er contact op genomen</h2>
    <h2>Meldingsnummer</h2>
    <h4>MeldID: {{MeldID}}</h4>
    <h2>Meldingsdatum</h2>
    <h4>Date: {{Date}}</h4>
    <h2>Dichtstbijzijnde adres</h2>
    <h4>Straat: {{name}}</h4>
    <h4>Postcode: {{name}}</h4>
    <h4>Plaats: {{name}}</h4>
    <h2>Informatie melder</h2>
    <h4>Name: {{name}}</h4>
    <h4>Telephonnummer: {{telephone}}</h4>
    <h4>E-mail adres: {{email}}</h4>
    <h4>Categorie: {{category}}</h4>
    <h4>toelichting: {{toelichting}}</h4>
    <h2>Coordinaten melding</h2>
    <h4>XCoordinaat: {{XCoordinaat}}</h4>
    <h4>YCoordinaat: {{YCoordinaat}}</h4>
    
    
</body>
</html>