<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>

        h3 { 
            color: lightblue;
        }
    </style>
</head>
<body>   
    <div class="row">
        <div class="element-center report-element-center" col-12="" col-lg-8="" col-md-10="" col-sm-10="" col-xl-6="" col-xxl-4="">
            &nbsp;&nbsp;&nbsp;&nbsp;<img src="https://www.achtkarspelen.nl/templates/images/achtkarspelen/logo.png" alt="Gemeente Achtkarspelen">
            </div>
        </div>
    </div> 

    <h3>Bedankt voor de melding, binnen enkele werkdagen wordt er contact op genomen.</h3>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#9ABAD9;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#444;background-color:#EBF5FF;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#fff;background-color:#409cff;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-lf2h{font-size:22px;background-color:#cbcefb;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-lf2h" colspan="2"><span style="font-weight:bold">Ontvangen melding</span></th>
  </tr>
  <tr>
    <td class="tg-c3ow" colspan="2"><span style="font-weight:bold">Meldingsnummer</span></td>
  </tr>
  <tr>
    <td class="tg-c3ow" colspan="2">{{MeldID}}</td>
  </tr>
  <tr>
    <td class="tg-c3ow" colspan="2"><span style="font-weight:bold">Meldingsdatum</span></td>
  </tr>
  <tr>
    <td class="tg-c3ow" colspan="2">{{Date}}</td>
  </tr>
  <tr>
    <td class="tg-c3ow" colspan="2"><span style="font-weight:700">Dichtstbijzijnde adres</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Straat:</span> </td>
    <td class="tg-c3ow">{{address}}</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:bold">Postcode:</span>  </td>
    <td class="tg-c3ow">{{postcode}}</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">Plaats:</span></td>
    <td class="tg-baqh">{{place}}</td>
  </tr>
  <tr>
    <td class="tg-baqh" colspan="2"><span style="font-weight:bold">Informatie&nbsp;&nbsp;melder</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">Naam:</span></td>
    <td class="tg-baqh">{{name}}</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">Telefoonnummer:</span></td>
    <td class="tg-baqh">{{telephone}}</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">E-mail adres:</span></td>
    <td class="tg-baqh">{{email}}</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">Categorie:</span></td>
    <td class="tg-baqh">{{category}}</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">Toelichting:</span></td>
    <td class="tg-baqh">{{toelichting}}</td>
  </tr>
  <tr>
    <td class="tg-baqh" colspan="2"><span style="font-weight:bold">Coordinaten melding</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">XCoord:</span></td>
    <td class="tg-baqh">{{XCoordinaat}}</td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">YCoord:</span></td>
    <td class="tg-baqh">{{YCoordinaat}}</td>
  </tr>
</table>
    <!--<h1>Ontvangen melding</h1>
    <h2>Bedankt voor de melding, binnen enkele werkdagen wordt er contact op genomen</h2>
    <h2>Meldingsnummer</h2>
    <h4>MeldID: {{MeldID}}</h4>
    <h2>Meldingsdatum</h2>
    <h4>Date: {{Date}}</h4>
    <h2>Dichtstbijzijnde adres</h2>
    <h4>Straat: {{name}}</h4>
    <h4>Postcode: {{name}}</h4>
    <h4>Plaats: {{name}}</h4>
    <h2>Informatie melder</h2>
    <h4>Name: {{name}}</h4>
    <h4>Telephonnummer: {{telephone}}</h4>
    <h4>E-mail adres: {{email}}</h4>
    <h4>Categorie: {{category}}</h4>
    <h4>toelichting: {{toelichting}}</h4>
    <h2>Coordinaten melding</h2>
    <h4>XCoordinaat: {{XCoordinaat}}</h4>
    <h4>YCoordinaat: {{YCoordinaat}}</h4>-->
    
    
</body>
</html>